<% if notice %>
  <div id="notice" class="well bg-info">
    <%= notice %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <%= @track.title %> by <%= @track.artist %>
      <br>
      <small>Score: <%= @track.score %></small>
    </h1>
  </div>

  <div class="panel-body lead">
    <%= @track.text %>
  </div>

  <div class="panel-footer">
    <h3>Comments</h3>

    <table class="table">
      <% @track.comments.each do |comment| %>
        <tr>
          <td>
            <%= comment.title %>
          </td>

          <td class="text-right">
            <%= link_to 'Destroy', [@track,comment], method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="row">
      <p class="col-md-6 text-left">
        <%= link_to 'Edit Track', edit_track_path(@track), class: 'btn btn-info' %>
        <%= link_to 'Back', tracks_path, class: 'btn btn-default' %>
      </p>

      <p class="col-md-6 text-right">
        <%= link_to 'New Comment', new_track_comment_path(@track), class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
</div>