<div class="row">
	<div class="col-xs-5">
		<div class="well">
			<a class="media-left" href="#tracks/<%= relationship.startNode.id %>">
				<img class="album-really-small" src="<%= relationship.startNode.escape('album_s_image') %>">
			</a>
			<div class="media-body">
				<h6 class="media-heading"><%= BT.Utils.SliceText(relationship.startNode.escape('track_name'), 40) %></h6>
			</div>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="text-center move-down-30">
			-[:<a href="#relationship/<%= relationship.escape('type') %>/<%= relationship.startNode.escape('track_spotify_id') %>/<%= relationship.endNode.escape('track_spotify_id') %>"><code><%= relationship.escape('type').slice(0,1) %></code></a>]>
		</div>
	</div>
	<div class="col-xs-5">
		<div class="well">
			<a class="media-left" href="#tracks/<%= relationship.endNode.id %>">
				<img class="album-really-small" src="<%= relationship.endNode.escape('album_s_image') %>">
			</a>
			<div class="media-body">
				<h6 class="media-heading"><%= BT.Utils.SliceText(relationship.endNode.escape('track_name'), 40) %></h6>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr>
	</div>
</div>