<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">Parents</h1>
  </div>
  <div class="panel-body" id="parents-view-container">
<!-- Children View Gets Inserted Here -->
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">Active Node</h1>
  </div>
  <div class="panel-body lead">
	  <div class="row">
		  <div class="col-md-4">
			  <img class="track-show-image" src="<%= track.get('album_l_image') %>">
		  </div>
		  <div class="col-md-4">
			  <p>Artist: <%= track.get('artist_name') %></p>
			  <p>Track: <%= track.get('track_name') %></p>
			  <p>Album: <%= track.get('album_name') %></p>
			  <p>Time: <%= track.get('track_duration_ms') %></p>
			  <p>ID: <%= track.get('id') %></p>
			  <p>Spotify URI: <%= track.get('track_spotify_uri') %></p>
		  </div>
		  <div class="col-md-4">
			  <iframe src="https://embed.spotify.com/?uri=<%= track.get('track_spotify_uri') %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		  </div>
	  </div>
	</div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">Children</h1>
  </div>
  <div class="panel-body" id="children-view-container">
<!-- Children View Gets Inserted Here -->
  </div>
</div>