<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center"><%= track.get('name') %></h1>
  </div>
  <div class="row">
	  <div class="col-md-8">
		  <div class="panel-body lead">
			  <p>Artist: <%= track.get('artist_name') %></p>
			  <p>Album: <%= track.get('album_name') %></p>
			  <p>Time: <%= track.get('track_duration_ms') %></p>
			  <p>ID: <%= track.get('id') %></p>
			  <p>Spotify URI: <%= track.get('track_spotify_uri') %></p>
		  </div>
	  </div>
	  <div class="col-md-4">
		  <img src="<%= track.get('album_l_image') %>">
	  </div>
  </div>
</div>