<!DOCTYPE html>
<html>
<head>
  <title>BeatTree</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script>BT.current_user = 
  <% if logged_in? %> 
  <%= current_user.username %>
  <% else %>
  <%= "null" %>
  <% end %>
  </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<ul class="nav navbar-nav nabvar-left">
			<li class="first-left">
		      <a class="navbar-brand beat-tree-brand" href="#feed">
		        <img class="navbar-btlogo-img" alt="BeatTree" src="https://s3-us-west-1.amazonaws.com/beat-tree-images/bt-logo.gif">
		      </a>
		    </li>
			<li>
				<div class="beat-tree-header-title">
					BeatTree
				</div>
			</li>
			<% if !logged_in? %>
				<li>
					<%= link_to "Sign Up", new_user_path %>
				</li>
				<li>
					<%= link_to "Log In", new_session_path %>
				</li>
			<% else %>
	            <li><%= button_to "Log Out", session_url, method: :delete, class: 'btn btn-danger log-out-btn'%></li>
	            <li><a href="#/users/<%= current_user.username %>">Logged in as: <%= current_user.username %></a></li>
			<% end %>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a data-toggle="collapse" href="#collapse-track-queue">
					<span class="glyphicon glyphicon-collapse-down"></span>
					Show Track Queue
				</a>
			</li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-music"></span> What You're Hearing <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li id="beat-tree-player-viewport">
	            	<iframe src="https://embed.spotify.com/?uri=spotify:track:6Tsu3OsuMz4KEGKbOYd6A0" width="400" height="480" frameborder="0" allowtransparency="true"></iframe>
	            </li>
	          </ul>
	       </li>
	    </ul>
	</div>
</nav>
  <div class="container" id="beat-tree-content">
  </div>
  <div class="collapse" id="collapse-track-queue">
	  <nav class="navbar navbar-inverse navbar-fixed-bottom">
		  <div class="row track-queue-container"></div>
	  </nav>
  </div>
</body>
</html>
